{% extends 'blog/base.html' %}
{% load static %}
{%block content%}
        {% for p in post %}
            <time>published: {{ p.publish_date }}</time>
            <h2><a href="{% url 'post_detail' p.id %}">{{ p.title }}</a></h2>
            <p>{{ p.text | linebreaksbr }}</p>
        {% endfor %}
{%endblock%}