{% extends 'blog/base.html' %}

{% block content %}
    <h2>New Post</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Submit</button>
    </form>
{% endblock %}