{% extends 'blog/base.html' %}
{% block content %}
<header>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' article.id %}">
        {% include './icons/pencil-fill.svg' %}</a>
    {% endif %}
</header>
    {% if article.publish_date %}
        {{ article.publish_date }}
    {% endif %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.text }}</P>
{% endblock %}